.category {
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns:(minmax(16rem, 1fr)) [auto-fit];*/
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.category .box {
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    background: #f7f7f7;
}

.category .box:hover {
    background: #27ae60;
}

.category .box:hover h3 {
    color: #fff;
}

.category .box img {
    height: 7rem;
}

.category .box h3 {
    font-size: 1.8rem;
    color: #130f40;
}